@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

.main-header {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    margin: auto;
    width: 10em;
    object-fit: cover;
}

.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-nav li {
    width: 4em;
    height: 80px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav li>* {
    text-decoration: none;
    color: whitesmoke;
}

.main-nav li a {
    transition: font-size .2s;
}

.off {
    display: none;
}

.main-nav li a:hover {
    text-decoration: underline;
    font-size: large;
}