.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0;
}

.sort-container>* {
    font-size: 2rem;
}

.search {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.search-bar {
    min-width: 230px;
}