.saved-imgs {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    display: none;
}

.saved-gallery {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: opacity .2s;
}

.saved-gallery:hover {
    opacity: 0.8;
}